.receita__botao {
  color: #FDFDFD;
  background: #8D0606;
  border: none;
  border-radius: 5px;
  padding: 1rem;
  transition: all .5s ease-in-out;
}

.receita__botao:hover {
  cursor: pointer;
  background: #630404;
}